<h2 class= "text-center">enter your booth name and PayPal email to start selling</h2>


<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <%= form_for(@booth) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
  		<%= f.label :name, "name your booth" %>
      	<%= f.text_field :name, class: 'form-control' %>

      	<%= f.label :paypal_email, "Enter your verified PayPal email address" %>
      	<%= f.text_field :paypal_email, class: 'form-control' %>
		
		<%= f.submit "create booth", class: "btn" %>
    <% end %>
  </div>
</div>

