<% provide(:title, @user.name) %>

<div class="container user-profile">
	<div class="row">
		<div class="col-md-4">
      		<%= image_tag @user.avatar_url %>
		</div>

		<div class="col-md-8">
    		<h3><%= @user.name %></h3>
    		<p id="user-location">in <%= @user.location %></p>
    		<button type="button" class="btn follow-btn"><span class="glyphicon glyphicon-plus plus-btn" aria-hidden="true"></span>Follow</button>
    		<p class="bold">About me</p>
    		<p class=><%= @user.about %></p>
    	</div>
	</div>
</div>

	<div class="col-md-12 text-center">
      	<h3>My booth <%= @user.booth.name %></h3>
	</div>

	<div class="col-md-12 text-center">
      	<h3>My Favorites</h3>
	</div>
</div>

