<% provide(:title, @user.name) %>

<div class="container user-profile">
	<div class="row">
		<div class ="col-md-2">
      		<%= image_tag @user.avatar_url %>
    </div>
       
    <div class ="col-md-2 user-profile-info">
      <h4><%= @user.name %></h4>
    	<p id="user-location">in <%= @user.location %></p>
      <%= render 'follow_form' if logged_in? %>
    </div>

<p class=><%= @user.about %></p>
      
<div class="col-md-6">
    <section class="stats">
        <%= render 'shared/stats' %>
      </section>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <%= render @user.items %>
  </div>
</div>








