<div class="col-md-3 item">
  
  <div class="thumbnail">
		  <%= link_to item_path(item) do %>
  		<%= image_tag(item.image.url(:thumb)) %>
		  <% end %>
	</div>
     	
  <div class="caption">
    <span id="item-maker-partial"> 
      by <%= link_to item.user do %>
      <%= item.user.name %>
      <% end %>
    </span>
      	
    <span class="pull-right" id="item-price-partial"> 
      <%= link_to item_path(item) do %>
      <%= number_to_currency item.price %>
      <% end %>
    </span>
  </div>
</div>

 

  


  



